{% load static %}

<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href='{% static 'core/css/style.css'%}'/>
</head>

<body>

    <div class="container">
        <h1>Heading</h1>
        <p>This is a description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button>Button</button>
        <button class="secondary">Button</button>
    </div>


<h1>Lista postów</h1>
<a href="{% url 'postlist' %}">Przejdź do listy postów</a>

<ul>
    {% for post in posts %}
        <li>
            <strong>{{ post.author.username }}</strong>: {{ post.content }}
            <br><small>{{ post.created_at }}</small>
        </li>
    {% empty %}
        <li>Brak postów.</li>
    {% endfor %}
</ul>

</body>

</html>